.social__a--vk .social__front .icon {
  background-image: url('../../../images/design/sprite-images-s4b94cd0f62.png');
  background-position: 0 -716px;
  background-repeat: no-repeat;
  height: 46px;
  width: 46px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .social__a--vk .social__front .icon {
    background-image: url('../../../images/design/sprite-images-2x-se7eb071b69.png');
    background-size: 47px 683px;
    background-position: 0 -586px;
    height: 47px;
    width: 47px;
  }
}

.social__a--vk .social__back .icon {
  background-image: url('../../../images/design/sprite-images-s4b94cd0f62.png');
  background-position: 0 -660px;
  background-repeat: no-repeat;
  height: 46px;
  width: 46px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .social__a--vk .social__back .icon {
    background-image: url('../../../images/design/sprite-images-2x-se7eb071b69.png');
    background-size: 47px 683px;
    background-position: 0 -637px;
    height: 47px;
    width: 47px;
  }
}

.social__a--tw .social__front .icon {
  background-image: url('../../../images/design/sprite-images-s4b94cd0f62.png');
  background-position: 0 -569px;
  background-repeat: no-repeat;
  height: 47px;
  width: 47px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .social__a--tw .social__front .icon {
    background-image: url('../../../images/design/sprite-images-2x-se7eb071b69.png');
    background-size: 47px 683px;
    background-position: 0 -453px;
    height: 48px;
    width: 48px;
  }
}

.social__a--tw .social__back .icon {
  background-image: url('../../../images/design/sprite-images-s4b94cd0f62.png');
  background-position: 0 -512px;
  background-repeat: no-repeat;
  height: 47px;
  width: 47px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .social__a--tw .social__back .icon {
    background-image: url('../../../images/design/sprite-images-2x-se7eb071b69.png');
    background-size: 47px 683px;
    background-position: 0 -505px;
    height: 48px;
    width: 48px;
  }
}

.social__a--fb .social__front .icon {
  background-image: url('../../../images/design/sprite-images-s4b94cd0f62.png');
  background-position: 0 -211px;
  background-repeat: no-repeat;
  height: 47px;
  width: 47px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .social__a--fb .social__front .icon {
    background-image: url('../../../images/design/sprite-images-2x-se7eb071b69.png');
    background-size: 47px 683px;
    background-position: 0 -134px;
    height: 48px;
    width: 48px;
  }
}

.social__a--fb .social__back .icon {
  background-image: url('../../../images/design/sprite-images-s4b94cd0f62.png');
  background-position: 0 -154px;
  background-repeat: no-repeat;
  height: 47px;
  width: 47px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .social__a--fb .social__back .icon {
    background-image: url('../../../images/design/sprite-images-2x-se7eb071b69.png');
    background-size: 47px 683px;
    background-position: 0 -186px;
    height: 48px;
    width: 48px;
  }
}

.social__a--git .social__front .icon {
  background-image: url('../../../images/design/sprite-images-s4b94cd0f62.png');
  background-position: 0 -325px;
  background-repeat: no-repeat;
  height: 47px;
  width: 47px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .social__a--git .social__front .icon {
    background-image: url('../../../images/design/sprite-images-2x-se7eb071b69.png');
    background-size: 47px 683px;
    background-position: 0 -238px;
    height: 48px;
    width: 48px;
  }
}

.social__a--git .social__back .icon {
  background-image: url('../../../images/design/sprite-images-s4b94cd0f62.png');
  background-position: 0 -268px;
  background-repeat: no-repeat;
  height: 47px;
  width: 47px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .social__a--git .social__back .icon {
    background-image: url('../../../images/design/sprite-images-2x-se7eb071b69.png');
    background-size: 47px 683px;
    background-position: 0 -290px;
    height: 48px;
    width: 48px;
  }
}

.icon--mail {
  background-image: url('../../../images/design/sprite-images-s4b94cd0f62.png');
  background-position: 0 -382px;
  background-repeat: no-repeat;
  height: 16px;
  width: 21px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon--mail {
    background-image: url('../../../images/design/sprite-images-2x-se7eb071b69.png');
    background-size: 47px 683px;
    background-position: 0 -342px;
    height: 17px;
    width: 22px;
  }
}

.icon--phone {
  background-image: url('../../../images/design/sprite-images-s4b94cd0f62.png');
  background-position: 0 -450px;
  background-repeat: no-repeat;
  height: 22px;
  width: 19px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon--phone {
    background-image: url('../../../images/design/sprite-images-2x-se7eb071b69.png');
    background-size: 47px 683px;
    background-position: 0 -400px;
    height: 24px;
    width: 21px;
  }
}

.icon--skype {
  background-image: url('../../../images/design/sprite-images-s4b94cd0f62.png');
  background-position: 0 -482px;
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon--skype {
    background-image: url('../../../images/design/sprite-images-2x-se7eb071b69.png');
    background-size: 47px 683px;
    background-position: 0 -428px;
    height: 21px;
    width: 21px;
  }
}

.icon--briefcase {
  background-image: url('../../../images/design/sprite-images-s4b94cd0f62.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  height: 34px;
  width: 36px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon--briefcase {
    background-image: url('../../../images/design/sprite-images-2x-se7eb071b69.png');
    background-size: 47px 683px;
    background-position: 0 0;
    height: 35px;
    width: 37px;
  }
}

.icon--education {
  background-image: url('../../../images/design/sprite-images-s4b94cd0f62.png');
  background-position: 0 -121px;
  background-repeat: no-repeat;
  height: 23px;
  width: 42px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon--education {
    background-image: url('../../../images/design/sprite-images-2x-se7eb071b69.png');
    background-size: 47px 683px;
    background-position: 0 -106px;
    height: 25px;
    width: 43px;
  }
}

.icon--doc {
  background-image: url('../../../images/design/sprite-images-s4b94cd0f62.png');
  background-position: 0 -79px;
  background-repeat: no-repeat;
  height: 32px;
  width: 26px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon--doc {
    background-image: url('../../../images/design/sprite-images-2x-se7eb071b69.png');
    background-size: 47px 683px;
    background-position: 0 -69px;
    height: 33px;
    width: 27px;
  }
}

.icon--mountains {
  background-image: url('../../../images/design/sprite-images-s4b94cd0f62.png');
  background-position: 0 -408px;
  background-repeat: no-repeat;
  height: 32px;
  width: 32px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon--mountains {
    background-image: url('../../../images/design/sprite-images-2x-se7eb071b69.png');
    background-size: 47px 683px;
    background-position: 0 -363px;
    height: 33px;
    width: 33px;
  }
}

.close .icon {
  background-image: url('../../../images/design/sprite-images-s4b94cd0f62.png');
  background-position: 0 -44px;
  background-repeat: no-repeat;
  height: 25px;
  width: 25px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .close .icon {
    background-image: url('../../../images/design/sprite-images-2x-se7eb071b69.png');
    background-size: 47px 683px;
    background-position: 0 -39px;
    height: 26px;
    width: 26px;
  }
}

.icon--upload {
  background-image: url('../../../images/design/sprite-images-s4b94cd0f62.png');
  background-position: 0 -626px;
  background-repeat: no-repeat;
  height: 24px;
  width: 32px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon--upload {
    background-image: url('../../../images/design/sprite-images-2x-se7eb071b69.png');
    background-size: 47px 683px;
    background-position: 0 -557px;
    height: 25px;
    width: 33px;
  }
}
