.social__a--vk .social__front .icon {
  background-image: url('../../../images/design/sprite-images-s2b71472cbc.png');
  background-position: 0 -605px;
  background-repeat: no-repeat;
  height: 46px;
  width: 46px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .social__a--vk .social__front .icon {
    background-image: url('../../../images/design/sprite-images-2x-sc72c5bba53.png');
    background-size: 47px 587px;
    background-position: 0 -490px;
    height: 47px;
    width: 47px;
  }
}

.social__a--vk .social__back .icon {
  background-image: url('../../../images/design/sprite-images-s2b71472cbc.png');
  background-position: 0 -549px;
  background-repeat: no-repeat;
  height: 46px;
  width: 46px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .social__a--vk .social__back .icon {
    background-image: url('../../../images/design/sprite-images-2x-sc72c5bba53.png');
    background-size: 47px 587px;
    background-position: 0 -541px;
    height: 47px;
    width: 47px;
  }
}

.social__a--tw .social__front .icon {
  background-image: url('../../../images/design/sprite-images-s2b71472cbc.png');
  background-position: 0 -492px;
  background-repeat: no-repeat;
  height: 47px;
  width: 47px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .social__a--tw .social__front .icon {
    background-image: url('../../../images/design/sprite-images-2x-sc72c5bba53.png');
    background-size: 47px 587px;
    background-position: 0 -386px;
    height: 48px;
    width: 48px;
  }
}

.social__a--tw .social__back .icon {
  background-image: url('../../../images/design/sprite-images-s2b71472cbc.png');
  background-position: 0 -435px;
  background-repeat: no-repeat;
  height: 47px;
  width: 47px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .social__a--tw .social__back .icon {
    background-image: url('../../../images/design/sprite-images-2x-sc72c5bba53.png');
    background-size: 47px 587px;
    background-position: 0 -438px;
    height: 48px;
    width: 48px;
  }
}

.social__a--fb .social__front .icon {
  background-image: url('../../../images/design/sprite-images-s2b71472cbc.png');
  background-position: 0 -176px;
  background-repeat: no-repeat;
  height: 47px;
  width: 47px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .social__a--fb .social__front .icon {
    background-image: url('../../../images/design/sprite-images-2x-sc72c5bba53.png');
    background-size: 47px 587px;
    background-position: 0 -104px;
    height: 48px;
    width: 48px;
  }
}

.social__a--fb .social__back .icon {
  background-image: url('../../../images/design/sprite-images-s2b71472cbc.png');
  background-position: 0 -119px;
  background-repeat: no-repeat;
  height: 47px;
  width: 47px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .social__a--fb .social__back .icon {
    background-image: url('../../../images/design/sprite-images-2x-sc72c5bba53.png');
    background-size: 47px 587px;
    background-position: 0 -156px;
    height: 48px;
    width: 48px;
  }
}

.social__a--git .social__front .icon {
  background-image: url('../../../images/design/sprite-images-s2b71472cbc.png');
  background-position: 0 -290px;
  background-repeat: no-repeat;
  height: 47px;
  width: 47px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .social__a--git .social__front .icon {
    background-image: url('../../../images/design/sprite-images-2x-sc72c5bba53.png');
    background-size: 47px 587px;
    background-position: 0 -208px;
    height: 48px;
    width: 48px;
  }
}

.social__a--git .social__back .icon {
  background-image: url('../../../images/design/sprite-images-s2b71472cbc.png');
  background-position: 0 -233px;
  background-repeat: no-repeat;
  height: 47px;
  width: 47px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .social__a--git .social__back .icon {
    background-image: url('../../../images/design/sprite-images-2x-sc72c5bba53.png');
    background-size: 47px 587px;
    background-position: 0 -260px;
    height: 48px;
    width: 48px;
  }
}

.icon--mail {
  background-image: url('../../../images/design/sprite-images-s2b71472cbc.png');
  background-position: 0 -347px;
  background-repeat: no-repeat;
  height: 16px;
  width: 21px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon--mail {
    background-image: url('../../../images/design/sprite-images-2x-sc72c5bba53.png');
    background-size: 47px 587px;
    background-position: 0 -312px;
    height: 17px;
    width: 22px;
  }
}

.icon--phone {
  background-image: url('../../../images/design/sprite-images-s2b71472cbc.png');
  background-position: 0 -373px;
  background-repeat: no-repeat;
  height: 22px;
  width: 19px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon--phone {
    background-image: url('../../../images/design/sprite-images-2x-sc72c5bba53.png');
    background-size: 47px 587px;
    background-position: 0 -333px;
    height: 24px;
    width: 21px;
  }
}

.icon--skype {
  background-image: url('../../../images/design/sprite-images-s2b71472cbc.png');
  background-position: 0 -405px;
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon--skype {
    background-image: url('../../../images/design/sprite-images-2x-sc72c5bba53.png');
    background-size: 47px 587px;
    background-position: 0 -361px;
    height: 21px;
    width: 21px;
  }
}

.icon--briefcase {
  background-image: url('../../../images/design/sprite-images-s2b71472cbc.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  height: 34px;
  width: 36px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon--briefcase {
    background-image: url('../../../images/design/sprite-images-2x-sc72c5bba53.png');
    background-size: 47px 587px;
    background-position: 0 0;
    height: 35px;
    width: 37px;
  }
}

.icon--education {
  background-image: url('../../../images/design/sprite-images-s2b71472cbc.png');
  background-position: 0 -86px;
  background-repeat: no-repeat;
  height: 23px;
  width: 42px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon--education {
    background-image: url('../../../images/design/sprite-images-2x-sc72c5bba53.png');
    background-size: 47px 587px;
    background-position: 0 -76px;
    height: 25px;
    width: 43px;
  }
}

.icon--doc {
  background-image: url('../../../images/design/sprite-images-s2b71472cbc.png');
  background-position: 0 -44px;
  background-repeat: no-repeat;
  height: 32px;
  width: 26px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon--doc {
    background-image: url('../../../images/design/sprite-images-2x-sc72c5bba53.png');
    background-size: 47px 587px;
    background-position: 0 -39px;
    height: 33px;
    width: 27px;
  }
}
