.social__a--vk .social__front .icon {
  background-image: url('../../../images/design/sprite-images-s27fd9679ff.png');
  background-position: 0 -1611px;
  background-repeat: no-repeat;
  height: 46px;
  width: 46px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .social__a--vk .social__front .icon {
    background-image: url('../../../images/design/sprite-images-2x-s3021b648c4.png');
    background-size: 52px 1473px;
    background-position: 0 -1202px;
    height: 47px;
    width: 47px;
  }
}

.social__a--vk .social__back .icon {
  background-image: url('../../../images/design/sprite-images-s27fd9679ff.png');
  background-position: 0 -1392px;
  background-repeat: no-repeat;
  height: 46px;
  width: 46px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .social__a--vk .social__back .icon {
    background-image: url('../../../images/design/sprite-images-2x-s3021b648c4.png');
    background-size: 52px 1473px;
    background-position: 0 -1253px;
    height: 47px;
    width: 47px;
  }
}

.social__a--tw .social__front .icon {
  background-image: url('../../../images/design/sprite-images-s27fd9679ff.png');
  background-position: 0 -1301px;
  background-repeat: no-repeat;
  height: 47px;
  width: 47px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .social__a--tw .social__front .icon {
    background-image: url('../../../images/design/sprite-images-2x-s3021b648c4.png');
    background-size: 52px 1473px;
    background-position: 0 -919px;
    height: 48px;
    width: 48px;
  }
}

.social__a--tw .social__back .icon {
  background-image: url('../../../images/design/sprite-images-s27fd9679ff.png');
  background-position: 0 -1079px;
  background-repeat: no-repeat;
  height: 47px;
  width: 47px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .social__a--tw .social__back .icon {
    background-image: url('../../../images/design/sprite-images-2x-s3021b648c4.png');
    background-size: 52px 1473px;
    background-position: 0 -971px;
    height: 48px;
    width: 48px;
  }
}

.social__a--fb .social__front .icon {
  background-image: url('../../../images/design/sprite-images-s27fd9679ff.png');
  background-position: 0 -447px;
  background-repeat: no-repeat;
  height: 47px;
  width: 47px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .social__a--fb .social__front .icon {
    background-image: url('../../../images/design/sprite-images-2x-s3021b648c4.png');
    background-size: 52px 1473px;
    background-position: 0 -187px;
    height: 48px;
    width: 48px;
  }
}

.social__a--fb .social__back .icon {
  background-image: url('../../../images/design/sprite-images-s27fd9679ff.png');
  background-position: 0 -225px;
  background-repeat: no-repeat;
  height: 47px;
  width: 47px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .social__a--fb .social__back .icon {
    background-image: url('../../../images/design/sprite-images-2x-s3021b648c4.png');
    background-size: 52px 1473px;
    background-position: 0 -239px;
    height: 48px;
    width: 48px;
  }
}

.social__a--git .social__front .icon {
  background-image: url('../../../images/design/sprite-images-s27fd9679ff.png');
  background-position: 0 -726px;
  background-repeat: no-repeat;
  height: 47px;
  width: 47px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .social__a--git .social__front .icon {
    background-image: url('../../../images/design/sprite-images-2x-s3021b648c4.png');
    background-size: 52px 1473px;
    background-position: 0 -441px;
    height: 48px;
    width: 48px;
  }
}

.social__a--git .social__back .icon {
  background-image: url('../../../images/design/sprite-images-s27fd9679ff.png');
  background-position: 0 -504px;
  background-repeat: no-repeat;
  height: 47px;
  width: 47px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .social__a--git .social__back .icon {
    background-image: url('../../../images/design/sprite-images-2x-s3021b648c4.png');
    background-size: 52px 1473px;
    background-position: 0 -493px;
    height: 48px;
    width: 48px;
  }
}

.is-tablet .social__a--vk .social__front .icon {
  background-image: url('../../../images/design/sprite-images-s27fd9679ff.png');
  background-position: 0 -1560px;
  background-repeat: no-repeat;
  height: 41px;
  width: 41px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .is-tablet .social__a--vk .social__front .icon {
    background-image: url('../../../images/design/sprite-images-2x-s3021b648c4.png');
    background-size: 52px 1473px;
    background-position: 0 -1360px;
    height: 42px;
    width: 42px;
  }
}

.is-tablet .social__a--vk .social__back .icon {
  background-image: url('../../../images/design/sprite-images-s27fd9679ff.png');
  background-position: 0 -1509px;
  background-repeat: no-repeat;
  height: 41px;
  width: 41px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .is-tablet .social__a--vk .social__back .icon {
    background-image: url('../../../images/design/sprite-images-2x-s3021b648c4.png');
    background-size: 52px 1473px;
    background-position: 0 -1406px;
    height: 42px;
    width: 42px;
  }
}

.is-tablet .social__a--tw .social__front .icon {
  background-image: url('../../../images/design/sprite-images-s27fd9679ff.png');
  background-position: 0 -1249px;
  background-repeat: no-repeat;
  height: 42px;
  width: 42px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .is-tablet .social__a--tw .social__front .icon {
    background-image: url('../../../images/design/sprite-images-2x-s3021b648c4.png');
    background-size: 52px 1473px;
    background-position: 0 -1079px;
    height: 43px;
    width: 43px;
  }
}

.is-tablet .social__a--tw .social__back .icon {
  background-image: url('../../../images/design/sprite-images-s27fd9679ff.png');
  background-position: 0 -1197px;
  background-repeat: no-repeat;
  height: 42px;
  width: 42px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .is-tablet .social__a--tw .social__back .icon {
    background-image: url('../../../images/design/sprite-images-2x-s3021b648c4.png');
    background-size: 52px 1473px;
    background-position: 0 -1126px;
    height: 43px;
    width: 43px;
  }
}

.is-tablet .social__a--fb .social__front .icon {
  background-image: url('../../../images/design/sprite-images-s27fd9679ff.png');
  background-position: 0 -395px;
  background-repeat: no-repeat;
  height: 42px;
  width: 42px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .is-tablet .social__a--fb .social__front .icon {
    background-image: url('../../../images/design/sprite-images-2x-s3021b648c4.png');
    background-size: 52px 1473px;
    background-position: 0 -347px;
    height: 43px;
    width: 43px;
  }
}

.is-tablet .social__a--fb .social__back .icon {
  background-image: url('../../../images/design/sprite-images-s27fd9679ff.png');
  background-position: 0 -343px;
  background-repeat: no-repeat;
  height: 42px;
  width: 42px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .is-tablet .social__a--fb .social__back .icon {
    background-image: url('../../../images/design/sprite-images-2x-s3021b648c4.png');
    background-size: 52px 1473px;
    background-position: 0 -394px;
    height: 43px;
    width: 43px;
  }
}

.is-tablet .social__a--git .social__front .icon {
  background-image: url('../../../images/design/sprite-images-s27fd9679ff.png');
  background-position: 0 -674px;
  background-repeat: no-repeat;
  height: 42px;
  width: 42px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .is-tablet .social__a--git .social__front .icon {
    background-image: url('../../../images/design/sprite-images-2x-s3021b648c4.png');
    background-size: 52px 1473px;
    background-position: 0 -601px;
    height: 43px;
    width: 43px;
  }
}

.is-tablet .social__a--git .social__back .icon {
  background-image: url('../../../images/design/sprite-images-s27fd9679ff.png');
  background-position: 0 -622px;
  background-repeat: no-repeat;
  height: 42px;
  width: 42px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .is-tablet .social__a--git .social__back .icon {
    background-image: url('../../../images/design/sprite-images-2x-s3021b648c4.png');
    background-size: 52px 1473px;
    background-position: 0 -648px;
    height: 43px;
    width: 43px;
  }
}

.icon--mail {
  background-image: url('../../../images/design/sprite-images-s27fd9679ff.png');
  background-position: 0 -867px;
  background-repeat: no-repeat;
  height: 16px;
  width: 21px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon--mail {
    background-image: url('../../../images/design/sprite-images-2x-s3021b648c4.png');
    background-size: 52px 1473px;
    background-position: 0 -737px;
    height: 17px;
    width: 22px;
  }
}

.icon--phone {
  background-image: url('../../../images/design/sprite-images-s27fd9679ff.png');
  background-position: 0 -987px;
  background-repeat: no-repeat;
  height: 22px;
  width: 19px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon--phone {
    background-image: url('../../../images/design/sprite-images-2x-s3021b648c4.png');
    background-size: 52px 1473px;
    background-position: 0 -841px;
    height: 24px;
    width: 21px;
  }
}

.icon--skype {
  background-image: url('../../../images/design/sprite-images-s27fd9679ff.png');
  background-position: 0 -1049px;
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon--skype {
    background-image: url('../../../images/design/sprite-images-2x-s3021b648c4.png');
    background-size: 52px 1473px;
    background-position: 0 -894px;
    height: 21px;
    width: 21px;
  }
}

.icon--briefcase {
  background-image: url('../../../images/design/sprite-images-s27fd9679ff.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  height: 34px;
  width: 36px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon--briefcase {
    background-image: url('../../../images/design/sprite-images-2x-s3021b648c4.png');
    background-size: 52px 1473px;
    background-position: 0 0;
    height: 35px;
    width: 37px;
  }
}

.icon--education {
  background-image: url('../../../images/design/sprite-images-s27fd9679ff.png');
  background-position: 0 -192px;
  background-repeat: no-repeat;
  height: 23px;
  width: 42px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon--education {
    background-image: url('../../../images/design/sprite-images-2x-s3021b648c4.png');
    background-size: 52px 1473px;
    background-position: 0 -159px;
    height: 25px;
    width: 43px;
  }
}

.icon--doc {
  background-image: url('../../../images/design/sprite-images-s27fd9679ff.png');
  background-position: 0 -150px;
  background-repeat: no-repeat;
  height: 32px;
  width: 26px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon--doc {
    background-image: url('../../../images/design/sprite-images-2x-s3021b648c4.png');
    background-size: 52px 1473px;
    background-position: 0 -122px;
    height: 33px;
    width: 27px;
  }
}

.icon--mountains {
  background-image: url('../../../images/design/sprite-images-s27fd9679ff.png');
  background-position: 0 -945px;
  background-repeat: no-repeat;
  height: 32px;
  width: 32px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon--mountains {
    background-image: url('../../../images/design/sprite-images-2x-s3021b648c4.png');
    background-size: 52px 1473px;
    background-position: 0 -758px;
    height: 33px;
    width: 33px;
  }
}

.is-tablet .icon--mountains {
  background-image: url('../../../images/design/sprite-images-s27fd9679ff.png');
  background-position: 0 -893px;
  background-repeat: no-repeat;
  height: 42px;
  width: 41px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .is-tablet .icon--mountains {
    background-image: url('../../../images/design/sprite-images-2x-s3021b648c4.png');
    background-size: 52px 1473px;
    background-position: 0 -795px;
    height: 42px;
    width: 42px;
  }
}

.is-tablet.is-phone .icon--mountains {
  background-image: url('../../../images/design/sprite-images-s27fd9679ff.png');
  background-position: 0 -945px;
  background-repeat: no-repeat;
  height: 32px;
  width: 32px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .is-tablet.is-phone .icon--mountains {
    background-image: url('../../../images/design/sprite-images-2x-s3021b648c4.png');
    background-size: 52px 1473px;
    background-position: 0 -758px;
    height: 33px;
    width: 33px;
  }
}

.close .icon {
  background-image: url('../../../images/design/sprite-images-s27fd9679ff.png');
  background-position: 0 -71px;
  background-repeat: no-repeat;
  height: 25px;
  width: 25px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .close .icon {
    background-image: url('../../../images/design/sprite-images-2x-s3021b648c4.png');
    background-size: 52px 1473px;
    background-position: 0 -39px;
    height: 26px;
    width: 26px;
  }
}

.is-phone .close .icon {
  background-image: url('../../../images/design/sprite-images-s27fd9679ff.png');
  background-position: 0 -44px;
  background-repeat: no-repeat;
  height: 17px;
  width: 17px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .is-phone .close .icon {
    background-image: url('../../../images/design/sprite-images-2x-s3021b648c4.png');
    background-size: 52px 1473px;
    background-position: 0 -69px;
    height: 18px;
    width: 18px;
  }
}

.icon--upload {
  background-image: url('../../../images/design/sprite-images-s27fd9679ff.png');
  background-position: 0 -1358px;
  background-repeat: no-repeat;
  height: 24px;
  width: 32px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon--upload {
    background-image: url('../../../images/design/sprite-images-2x-s3021b648c4.png');
    background-size: 52px 1473px;
    background-position: 0 -1173px;
    height: 25px;
    width: 33px;
  }
}

.form-info-success .icon {
  background-image: url('../../../images/design/sprite-images-s27fd9679ff.png');
  background-position: 0 -106px;
  background-repeat: no-repeat;
  height: 12px;
  width: 12px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .form-info-success .icon {
    background-image: url('../../../images/design/sprite-images-2x-s3021b648c4.png');
    background-size: 52px 1473px;
    background-position: 0 -91px;
    height: 12px;
    width: 12px;
  }
}

.form-info-error .icon {
  background-image: url('../../../images/design/sprite-images-s27fd9679ff.png');
  background-position: 0 -128px;
  background-repeat: no-repeat;
  height: 12px;
  width: 12px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .form-info-error .icon {
    background-image: url('../../../images/design/sprite-images-2x-s3021b648c4.png');
    background-size: 52px 1473px;
    background-position: 0 -106px;
    height: 12px;
    width: 12px;
  }
}

.menu__mobile-a .icon {
  background-image: url('../../../images/design/sprite-images-s27fd9679ff.png');
  background-position: 0 -1667px;
  background-repeat: no-repeat;
  height: 21px;
  width: 25px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .menu__mobile-a .icon {
    background-image: url('../../../images/design/sprite-images-2x-s3021b648c4.png');
    background-size: 52px 1473px;
    background-position: 0 -1452px;
    height: 22px;
    width: 26px;
  }
}

.social.visible-phone .social__a--vk .icon {
  background-image: url('../../../images/design/sprite-images-s27fd9679ff.png');
  background-position: 0 -1448px;
  background-repeat: no-repeat;
  height: 51px;
  width: 52px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .social.visible-phone .social__a--vk .icon {
    background-image: url('../../../images/design/sprite-images-2x-s3021b648c4.png');
    background-size: 52px 1473px;
    background-position: 0 -1304px;
    height: 52px;
    width: 53px;
  }
}

.social.visible-phone .social__a--tw .icon {
  background-image: url('../../../images/design/sprite-images-s27fd9679ff.png');
  background-position: 0 -1136px;
  background-repeat: no-repeat;
  height: 51px;
  width: 52px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .social.visible-phone .social__a--tw .icon {
    background-image: url('../../../images/design/sprite-images-2x-s3021b648c4.png');
    background-size: 52px 1473px;
    background-position: 0 -1023px;
    height: 52px;
    width: 53px;
  }
}

.social.visible-phone .social__a--fb .icon {
  background-image: url('../../../images/design/sprite-images-s27fd9679ff.png');
  background-position: 0 -282px;
  background-repeat: no-repeat;
  height: 51px;
  width: 52px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .social.visible-phone .social__a--fb .icon {
    background-image: url('../../../images/design/sprite-images-2x-s3021b648c4.png');
    background-size: 52px 1473px;
    background-position: 0 -291px;
    height: 52px;
    width: 53px;
  }
}

.social.visible-phone .social__a--git .icon {
  background-image: url('../../../images/design/sprite-images-s27fd9679ff.png');
  background-position: 0 -561px;
  background-repeat: no-repeat;
  height: 51px;
  width: 52px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .social.visible-phone .social__a--git .icon {
    background-image: url('../../../images/design/sprite-images-2x-s3021b648c4.png');
    background-size: 52px 1473px;
    background-position: 0 -545px;
    height: 52px;
    width: 53px;
  }
}

.login .icon {
  background-image: url('../../../images/design/sprite-images-s27fd9679ff.png');
  background-position: 0 -825px;
  background-repeat: no-repeat;
  height: 32px;
  width: 20px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .login .icon {
    background-image: url('../../../images/design/sprite-images-2x-s3021b648c4.png');
    background-size: 52px 1473px;
    background-position: 0 -695px;
    height: 17px;
    width: 11px;
  }
}

.login:hover .icon {
  background-image: url('../../../images/design/sprite-images-s27fd9679ff.png');
  background-position: 0 -783px;
  background-repeat: no-repeat;
  height: 32px;
  width: 20px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .login:hover .icon {
    background-image: url('../../../images/design/sprite-images-2x-s3021b648c4.png');
    background-size: 52px 1473px;
    background-position: 0 -716px;
    height: 17px;
    width: 11px;
  }
}

.is-auth .login .icon {
  background-image: url('../../../images/design/sprite-images-s27fd9679ff.png');
  background-position: 0 -783px;
  background-repeat: no-repeat;
  height: 32px;
  width: 20px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .is-auth .login .icon {
    background-image: url('../../../images/design/sprite-images-2x-s3021b648c4.png');
    background-size: 52px 1473px;
    background-position: 0 -716px;
    height: 17px;
    width: 11px;
  }
}

.is-auth .login:hover .icon {
  background-image: url('../../../images/design/sprite-images-s27fd9679ff.png');
  background-position: 0 -825px;
  background-repeat: no-repeat;
  height: 32px;
  width: 20px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .is-auth .login:hover .icon {
    background-image: url('../../../images/design/sprite-images-2x-s3021b648c4.png');
    background-size: 52px 1473px;
    background-position: 0 -695px;
    height: 17px;
    width: 11px;
  }
}
