/* @override http://sergeys-macbook-pro.local:5757/portfolio-site/css/local/src/style.css */

/* @group main */

@font-face {
    font-family: 'FiraSans-Light';
    font-weight: normal;
    font-style: normal;

    src: url('../../../fonts/firasans-light.eot');
    src: url('../../../fonts/firasans-light.eot?#iefix') format('embedded-opentype'),
    url('../../../fonts/firasans-light.woff') format('woff'),
    url('../../../fonts/firasans-light.ttf') format('truetype');
}
@font-face {
    font-family: 'FiraSans-SemiBold';
    font-weight: normal;
    font-style: normal;

    src: url('../../../fonts/firasans-semibold.eot');
    src: url('../../../fonts/firasans-semibold.eot?#iefix') format('embedded-opentype'),
    url('../../../fonts/firasans-semibold.woff') format('woff'),
    url('../../../fonts/firasans-semibold.ttf') format('truetype');
}
@font-face {
    font-family: 'ProximaNovaCond-SemiBold';
    font-weight: normal;
    font-style: normal;

    src: url('../../../fonts/ProximaNovaCond-Semibold.eot');
    src: url('../../../fonts/ProximaNovaCond-Semibold.eot?#iefix') format('embedded-opentype'),
    url('../../../fonts/ProximaNovaCond-Semibold.woff') format('woff'),
    url('../../../fonts/ProximaNovaCond-Semibold.ttf') format('truetype');
}
@font-face {
    font-family: 'FiraSans-LightItalic';
    font-weight: normal;
    font-style: normal;

    src: url('../../../fonts/firasans-lightitalic.eot');
    src: url('../../../fonts/firasans-lightitalic.eot?#iefix') format('embedded-opentype'),
    url('../../../fonts/firasans-lightitalic.woff') format('woff'),
    url('../../../fonts/firasans-lightitalic.ttf') format('truetype');
}
@font-face {
    font-family: 'FiraSans-Regular';
    font-weight: normal;
    font-style: normal;

    src: url('../../../fonts/firasans-regular.eot');
    src: url('../../../fonts/firasans-regular.eot?#iefix') format('embedded-opentype'),
    url('../../../fonts/firasans-regular.woff') format('woff'),
    url('../../../fonts/firasans-regular.ttf') format('truetype');
}
html, body {
    font-family: 'FiraSans-Light';
    font-size: 14px;
    /*-webkit-font-smoothing: antialiased;*/
    height: 100%;
}
.page {
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    width: 100%;
    /*min-width: 960px;*/
    min-height: 100%;
    min-width: 960px;
    padding-bottom: 80px;
    background: url(../../../images/design/bg-page.png) repeat;
}
.icon {
    display: inline-block;
    vertical-align: middle;
}
img {
    display: block;
}
.clearfix:after {
    display: block;
    clear: both;
    content: '';
}
.vertical-align-middle:before {
    display: inline-block;
    height: 100%;
    content: '';
    vertical-align: middle;
}
.visible-tablet {
    display: none;
}
.visible-phone {
    display: none;
}

/* @group animated */

.selector {
    -webkit-animation-name: name-animated;
            animation-name: name-animated;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
}

.animated {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    -webkit-animation-duration: 1s;
            animation-duration: 1s;

    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
}
.animated.infinite {
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}
.animated.hinge {
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
}

/* @end */

/* @end */

/* @group pagination */

.pagination {
    text-align: center;
}
.pagination__ul {
    display: inline-block;
}
.pagination__li {
    font-size: 0;
    float: left;
    transition: all .1s linear;
}
.pagination__li:before {
    display: inline-block;
    height: 100%;
    content: '';
    vertical-align: baseline;
}
.pagination__a {
    font-size: 16px;
    display: table-cell;
    transition: all .1s linear;
    vertical-align: middle;
}
.pagination__a:before {
    display: inline-block;
    height: 100%;
    content: '';
    vertical-align: middle;
}
.is-active .pagination__a, .pagination__a:hover {
    color: #fff;
    background: #00b0bd;
}
.pagination__span {
    font-size: 18px;
    display: inline-block;
}

/* @end */

/* @group content */

.content:after {
    display: block;
    clear: both;
    content: '';
}
.content {
    width: 960px;
    margin: 0 auto;
}
.content__main {
    float: right;
    width: 650px;
    margin-bottom: 14px;
}
.content__block {
    margin-bottom: 24px;
    border-radius: 4px;
    background-color: #eff3f7;
}
.content__block:after {
    display: block;
    clear: both;
    content: '';
}
.content__block-title {
    margin-bottom: 16px;
}
.content__block-title-span {
    font-size: 27px;
    line-height: 28px;
    font-weight: normal;
    /*line-height: 69px;*/
    display: inline-block;
    box-sizing: border-box;
    /*height: 69px;*/
    padding: 20px 23px 19px;
    color: #3ba8c0;
    border-bottom: 2px solid #3ba8c0;
}

/* @end */

/* @group validation form */

/*.wrapper-input {
    position: relative;
}
.form-validation .wrapper-input .icon {
    position: absolute;
    top: 5px;
    right: 11px;
}
.ui-state-error, .ui-state-valid.error {
    border-color: #ff5a1f !important;
}
.ui-state-valid:not(.button) {
    border-color: #95c785;
}*/
.is-error .input, .is-error .textarea {
    border-color: #f97e76;
    background: #fad2d1;
}

/* @end */

/* @group select */

.select {
    font-family: 'Ubuntu';
    font-size: 14px;
    font-size: 16px;
    line-height: 39px;
    position: relative;
    display: block;
    float: left;
    box-sizing: border-box;
    width: 100px;
    width: 297px;
    height: 41px;
    vertical-align: middle;
    background: #fff;
}
.select .value {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 0 41px 0 11px;
    cursor: pointer;
    color: #737373;
    border: 1px solid #989798;
    border-radius: 3px;
}
.select .value.placeholder {
    color: #aaa7a7;
}
.select__a {
    font-size: 14px;
    line-height: normal;
    display: block;
    margin: 0 15px 4px 10px;
    padding: 3px 0 4px 5px;
    text-decoration: none;
    color: #737373;
}
.select__a:hover, .select .is-active {
    background: #eceef2;
}
.scroller {
    overflow-y: scroll;
    box-sizing: border-box;
    height: 100%;
    padding: 7px 0;
}
.scroller::-webkit-scrollbar {
    width: 0;
}
.container-scroller {
    position: absolute;
    z-index: 10;
    top: 100%;
    right: 0;
    left: 0;
    display: none;
    overflow: hidden;
    box-sizing: border-box;
    height: 124px;
    margin-top: -1px;
    border: 1px solid #c9c9c9;
    background-color: #fff;
}
.container-scroller.is-visible {
    display: block;
}
.scroller__bar-wrapper {
    position: absolute;
    z-index: 3;
    top: 5px;
    right: 2px;
    bottom: 5px;
    width: 9px;
    border-radius: 5px;
}
.scroller__bar {
    position: absolute;
    z-index: 1;
    right: 0;
    width: 100%;
    pointer-events: auto;
    opacity: .5;
    border-radius: 5px;
    background: #4a90e2;
}
.select .wrapper-icon {
    font-size: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 39px;
    text-align: center;
    border-left: 1px solid #989798;
}
.select .wrapper-icon:before {
    display: inline-block;
    height: 100%;
    content: '';
    vertical-align: middle;
}

/* @end */
/*/* @group input file *!/

.input__file-value {
    height: 39px;
    border: 1px solid #989798;
    border-radius: 3px;
    box-sizing: border-box;
    color: #989798;
    font-size: 14px;
    padding: 0 10px;
    margin-bottom: 10px;
    font-style: italic;
    display: inline-block;
    outline: none;
}
.wrap-input-file {
    float: left;
    width: 239px;
    position: relative;
    overflow: hidden;
}
.wrap-input-file .wrap-icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 37px;
    border: 1px solid #989798;
    border-radius: 3px;
    text-align: center;
    font-size: 0;
    background: #fff;
}
.wrap-input-file .wrap-icon:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.input__file-value {
    line-height: 39px;
    display: block;
    margin-bottom: 0;
    font-size: 16px;
}
.input__file {
    position: absolute;
    z-index: 10;
    top: -80px;
    /*left: 0;*!/
    left: 100%;
    opacity: 0;
    height: 300%;
    margin-left: -40px;
    right: 0;
    bottom: 0;
    cursor: pointer !important;
    outline: none;
}

/* @end *!/*/

/* @group logo */

.logo {
    font-size: 0;
    float: left;
    height: 100%;
}
.logo:before {
    display: inline-block;
    height: 100%;
    content: '';
    vertical-align: middle;
}
.logo__a {
    display: inline-block;
    vertical-align: middle;
}

/* @end */

/* @group social */

.header .social {
    float: right;
    height: 100%;
}
.header .social:before {
    display: inline-block;
    height: 100%;
    content: '';
    vertical-align: middle;
}
.social__front {
    display: inline-block;
    transition: -webkit-transform .4s ease-out;
    transition:         transform .4s ease-out;
    -webkit-transform: rotateY(0) translateZ(0);
            transform: rotateY(0) translateZ(0);

    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}
.ie-9 .social__front, .ie-8 .social__front {
    opacity: 1;
}
.ie-9 .social__a:hover .social__front, .ie-8 .social__a:hover .social__front {
    opacity: 0;
}
.social__a {
    position: relative;
    z-index: 1;
    display: inline-block;
}
.social__a:hover .social__front {
    -webkit-transform: rotateY(-180deg) translateZ(0);
            transform: rotateY(-180deg) translateZ(0);
}
.social__a:hover .social__back {
    -webkit-transform: rotateY(0) translateZ(0);
            transform: rotateY(0) translateZ(0);
}
.social__back {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    transition: -webkit-transform .4s ease-out;
    transition:         transform .4s ease-out;
    -webkit-transform: rotateY(180deg) translateZ(0);
            transform: rotateY(180deg) translateZ(0);

    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}
.ie-9 .social__back, .ie-8 .social__back {
    opacity: 0;
}
.ie-9 .social__a:hover .social__back, .ie-8 .social__a:hover .social__back {
    opacity: 1;
}
.social__ul {
    display: inline-block;
    vertical-align: middle;
}
.social__ul:after {
    display: block;
    clear: both;
    content: '';
}
.social__li {
    float: left;
    margin-left: 23px;
}
.social__li:first-child {
    margin-left: 0;
}

/* @end */

/* @group header */

.header {
    position: relative;
    z-index: 1;
    height: 119px;
    margin-bottom: 39px;
    /*padding: 0 100px;*/
    background: #eff3f7;
    text-align: center
    /*min-width: 960px;*/
}
.header__in:after {
    display: block;
    clear: both;
    content: '';
}
.header__in {
    display: inline-block;
    position: relative;
    text-align: left;
    z-index: 1;
    width: 100%;
    max-width: 1400px;
    height: 100%;
    /*padding: 0 10px;*/
    /*min-width: 960px;*/
    padding: 0 100px;
    box-sizing: border-box;
}
.header:before {
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: 0;
    left: 0;
    height: 3px;
    content: '';
    background-color: #1c667a;
    background-image: linear-gradient(to right, rgba(28, 102, 122, .9) 0%, rgba(246, 250, 254, .9) 0%, rgba(216, 216, 216, .9) 0%, rgba(242, 246, 250, .9) 0%, rgba(28, 102, 122, .9) 48%, rgba(242, 246, 250, .9) 100%);
}

/* @end */

/* @group sidebar */

.sidebar {
    float: left;
}
.sidebar__block {
    overflow: hidden;
    width: 250px;
    margin-bottom: 23px;
    border-radius: 4px;
    background-color: #eff3f7;
}

/* @end */

/* @group menu */

.menu__a {
    font-size: 21px;
    position: relative;
    z-index: 1;
    display: block;
    /*display: table-cell;*/
    /*width: 250px;*/
    vertical-align: middle;
    /*height: 73px;*/
    min-height: 73px;
    box-sizing: border-box;
    padding: 25px 13px 25px 27px;
    transition: color .1s linear;
    color: #959aa8;
}
.menu__li.is-active .menu__a {
    font-size: 23px;
    cursor: default;
    pointer-events: none;
    color: #fff;
    background-color: #3ba8c0;
}
.ie-8 .menu__li {
    padding: 0 10px;
}
.ie-8 .menu__li.is-active {
    background-color: #3ba8c0;
}
.menu__a:before {
    display: inline-block;
    height: 100%;
    content: '';
    vertical-align: middle;
}
.menu__a:after {
    position: absolute;
    z-index: 1;
    right: 10px;
    bottom: -2px;
    left: 10px;
    height: 2px;
    content: '';
    background-color: #3ba8c0;
}
.menu__li.is-active .menu__a:after {
    display: none;
}
.menu__li:last-child .menu__a:after {
    display: none;
    opacity: 0;
}
.ie-8 .menu__a:after {
    display: none;
}
.ie-8 .menu__a {
    box-sizing: border-box;
    border-top: 2px solid #3ba8c0;
}
.ie-8 .menu__li:first-child .menu__a {
    border-color: transparent;
}
.ie-8 .menu__li.is-active + .menu__li .menu__a {
    border-color: transparent;
}
.menu__a:hover {
    color: #3ba8c0;
}
.menu__span {
    display: inline-block;
    vertical-align: middle;
}

/* @end */

/* @group contacts */

.contacts__title {
    font-size: 21px;
    line-height: 46px;
    display: block;
    height: 40px;
    padding-left: 20px;
    color: #fbfcfd;
    background-color: #3ba8c0;
}
.contacts__li {
    height: 39px;
    background: #41b9d4;
}
.contacts__li:before {
    display: inline-block;
    height: 100%;
    content: '';
    vertical-align: middle;
}
.contacts__li:nth-child(2) {
    background: #48cbe8;
}
.contacts__li:nth-child(3) {
    background: #51daf8;
}
.contacts__a {
    font-size: 17px;
    margin-left: 15px;
    vertical-align: middle;
    text-decoration: none;
    color: #fff;
}
.contacts__a:hover {
    text-decoration: underline;
}
.contacts__li .icon {
    margin-left: 38px;
}
.contacts__mobile {
    display: none;
}

/* @end */

/* @group info */

.info__img {
    float: left;
    overflow: hidden;
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    margin-left: 22px;
    border: 5px solid #2fa5bc;
    border-radius: 50%;
}
.info__img img {
    width: 100%;
    height: 100%;
}
.info__text {
    float: right;
    width: 390px;
    padding-top: 8px;
}
.info__text-span {
    font-size: 15px;
    color: #37424d;
}
.info__text-span + .info__text-span {
    margin-left: 17px;
}
.info__text-span b {
    font-family: 'FiraSans-SemiBold';
    font-size: 17px;
    font-weight: normal;
    color: #4a545d;
}
.info__text-li {
    margin-bottom: 23px;
}
.info__text-li:last-child {
    margin-bottom: 15px;
}
.skills {
    display: inline-block;
    width: 200px;
    margin-left: 18px;
    vertical-align: top;
}
.skills__ul {
    margin-left: -8px;
}
.skills__ul:after {
    display: block;
    clear: both;
    content: '';
}
.skills__li {
    float: left;
    margin-bottom: 9px;
    margin-left: 8px;
}
.skills__li-span {
    font-family: 'ProximaNovaCond-SemiBold';
    line-height: 19px;
    display: block;
    height: 19px;
    padding: 0 14px;
    color: #fff;
    border-radius: 2px;
    background-image: linear-gradient(to top, #2e8ca2 0%, #2e8ca2 52%, #3ba8c0 53%, #3ba8c0 100%);
}
.ie-9 .skills__li-span, .ie-8 .skills__li-span {
    background: #3ba8c0;
}

/* @end */

/* @group about */

.about__text {
    display: inline-block;
    vertical-align: middle;
    margin-left: 25px;
    max-width: 500px;
}
.about__text-title {
    font-size: 17px;
    display: block;
    margin-bottom: 5px;
    color: #4a545d;
}
.about__text-span {
    color: #4A545D;
}
.about__ul {
    padding-top: 20px;
    padding-bottom: 1px;
}
.about__li {
    margin-bottom: 32px;
}
.about__li:last-child {
    margin-bottom: 24px;
}
.about__container-icon {
    display: inline-block;
    width: 42px;
    margin-left: 63px;
    text-align: center;
    vertical-align: middle;
}

/* @end */

/* @group footer */

.footer {
    font-size: 0;
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: 0;
    left: 0;
    height: 80px;
    text-align: center;
    background: #eff3f7;
}
.footer:before {
    display: inline-block;
    height: 100%;
    content: '';
    vertical-align: middle;
}
.copyright {
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
}
.footer:after {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
    height: 3px;
    content: '';
    background-color: #1c667a;
    background-image: linear-gradient(to right, rgba(28, 102, 122, .9) 0%, rgba(246, 250, 254, .9) 0%, rgba(216, 216, 216, .9) 0%, rgba(242, 246, 250, .9) 0%, rgba(28, 102, 122, .9) 48%, rgba(242, 246, 250, .9) 100%);
}
.copyright__span {
    font-size: 13px;
    color: #4a545d;
}
.footer__in {
	display: inline-block;
	vertical-align: middle;
}
.login {
	margin-right: 20px;
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
}
.login .icon {
	cursor: pointer;
}

/* @end */

/* @group work */

.work__list {
    min-height: 738px;
    margin-left: -10px;
    padding-top: 17px;
    text-align: center;
}
.work__list:after {
    display: block;
    clear: both;
    content: '';
}
.work__li {
    float: left;
    width: 183px;
    margin-bottom: 42px;
    margin-left: 30px;
}
.work__add {
    float: left;
    margin-left: 30px;
}
.work__add-a {
    font-size: 0;
    display: block;
    box-sizing: border-box;
    width: 183px;
    height: 129px;
    text-align: center;
    text-decoration: none;
    border: 1px dashed #3ba8c0;
    border-radius: 4px;
    background-color: rgba(236, 251, 255, .64);
}
.work__add-a .icon {
    transition: -webkit-transform 1.5s ease;
    transition:         transform 1.5s ease;
    -webkit-transform: scale(1);
            transform: scale(1);
}
.work__add-a:hover .icon {
    -webkit-animation: addProject 1.5s;
            animation: addProject 1.5s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}
@-webkit-keyframes addProject {
    50% {
        -webkit-transform: scale(1.1);
                transform: scale(1.1);
    }
}
@keyframes addProject {
    50% {
        -webkit-transform: scale(1.1);
                transform: scale(1.1);
    }
}
.work__add-a:before {
    display: inline-block;
    height: 100%;
    content: '';
    vertical-align: middle;
}
.work__add-a-wrapper {
    display: inline-block;
    vertical-align: middle;
}
.work__add-a .icon {
    margin-bottom: 12px;
}
.work__add-span {
    font-size: 13px;
    display: block;
    color: #3ba8c0;
}
.work__img {
    position: relative;
    /*z-index: 1;*/
    overflow: hidden;
    box-sizing: border-box;
    /*width: 183px;*/
    width: 100%;
    height: 129px;
    margin-bottom: 9px;
    border: 2px solid #3ba8c0;
    border-radius: 4px;
}
.work__img img {
    width: 100%;
    height: 100%;
    transition: all .2s linear;
    -webkit-transform: translateZ(0) scale(1);
            transform: translateZ(0) scale(1);
}
.work__img:hover img {
    -webkit-transform: translateZ(0) scale(1.2);
            transform: translateZ(0) scale(1.2);
}
.work__name-span {
    font-size: 12px;
    display: inline-block;
    max-width: 90%;
    padding: 5px;
    transition: all .2s linear;
    -webkit-transform: translateZ(0) scale(.7);
            transform: translateZ(0) scale(.7);
    vertical-align: middle;
    text-transform: lowercase;
    opacity: 0;
    color: #eff3f7;
    border: 2px solid #eff3f7;
    border-radius: 4px;
}
.work__img:hover .work__name-span {
    -webkit-transform: translateZ(0) scale(1);
            transform: translateZ(0) scale(1);
    /* -webkit-animation-name: bounceIn;
            animation-name: bounceIn;
    -webkit-animation-duration: .75s;
            animation-duration: .75s;
    -webkit-animation-delay: .15s;
            animation-delay: .15s;*/
    opacity: 1;
}
.work__name {
    position: absolute;
    /*z-index: 1;*/
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
    transition: opacity .1s linear;
    text-align: center;
    opacity: 0;
    background: rgba(1, 108, 164, .75);
}
.ie-8 .work__name {
    background: rgb(1, 108, 164);
}
.work__img:hover .work__name {
    opacity: 1;
}
.work__name:before {
    display: inline-block;
    height: 100%;
    content: '';
    vertical-align: middle;
}
.work__a {
    font-family: 'FiraSans-LightItalic';
    font-size: 13px;
    display: inline-block;
    margin-bottom: 11px;
    text-decoration: none;
    color: #3ba8c0;
}
.work__a:hover {
    text-decoration: underline;
}
.work__p {
    font-size: 15px;
    line-height: 18px;
    color: #4a545d;
    height: 36px;
    overflow: hidden;
}

/* @end */

/* @group add project */

.popup {
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    visibility: hidden;
    transition: all .2s linear;
    text-align: center;
    opacity: 0;
    background: rgba(88, 105, 122, .75);
}
.ie-8 .popup {
    z-index: -1;
    visibility: visible;
    background: rgb(88, 105, 122);
}
.popup.is-visible {
    z-index: 10;
    visibility: visible;
    opacity: 1;
}
.popup:before {
    display: inline-block;
    height: 100%;
    content: '';
    vertical-align: middle;
}
.popup .close {
    transition: -webkit-transform .2s ease;
    transition:         transform .2s ease;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
}
.popup .close:active {
    -webkit-transform: scale(.9);
            transform: scale(.9);
}
.popup__in {
    position: relative;
    z-index: 10;
    display: inline-block;
    width: 362px;
    text-align: left;
    vertical-align: middle;
    border-radius: 4px;
    background-color: #eff3f7;
    box-shadow: 0 6px 12.5px .5px rgba(13, 16, 7, .35);
}
.popup.is-visible .popup__in {
    -webkit-animation-name: bounceInDown;
            animation-name: bounceInDown;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;

    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
}
@-webkit-keyframes bounceInDown {
    0%, 100%, 60%, 75%, 90% {
        transition-timing-function: cubic-bezier(.215, .61, .355, 1);
    }

    0% {
        -webkit-transform: translate3d(0, -3000px, 0);
                transform: translate3d(0, -3000px, 0);
        opacity: 0;
    }

    60% {
        -webkit-transform: translate3d(0, 25px, 0);
                transform: translate3d(0, 25px, 0);
        opacity: 1;
    }

    75% {
        -webkit-transform: translate3d(0, -10px, 0);
                transform: translate3d(0, -10px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, 5px, 0);
                transform: translate3d(0, 5px, 0);
    }

    100% {
        -webkit-transform: none;
                transform: none;
    }
}
@keyframes bounceInDown {
    0%, 100%, 60%, 75%, 90% {
        transition-timing-function: cubic-bezier(.215, .61, .355, 1);
    }

    0% {
        -webkit-transform: translate3d(0, -3000px, 0);
                transform: translate3d(0, -3000px, 0);
        opacity: 0;
    }

    60% {
        -webkit-transform: translate3d(0, 25px, 0);
                transform: translate3d(0, 25px, 0);
        opacity: 1;
    }

    75% {
        -webkit-transform: translate3d(0, -10px, 0);
                transform: translate3d(0, -10px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, 5px, 0);
                transform: translate3d(0, 5px, 0);
    }

    100% {
        -webkit-transform: none;
                transform: none;
    }
}
.popup__title {
    font-family: 'FiraSans-Regular';
    font-size: 25px;
    line-height: 50px;
    display: block;
    height: 44px;
    margin-bottom: 11px;
    padding-left: 13px;
    color: #fff;
    border-bottom: 9px solid #67dffa;
    border-radius: 4px 4px 0 0;
    background-color: #48cbe8;
}
.popup__in .close {
    position: absolute;
    z-index: 1;
    top: 10px;
    right: 11px;
}
.popup__form {
    width: 320px;
    margin: 0 auto;
}
.span-label {
    font-size: 17px;
    display: block;
    margin-bottom: 6px;
    color: #959aa8;
}
.input, .textarea {
    font-family: 'FiraSans-Light';
    font-size: 13px;
    box-sizing: border-box;
    width: 100%;
    height: 41px;
    padding: 0 10px;
    transition: all .2s linear;
    color: #48cbe8;
    border: 1px solid #48cbe8;
    border-radius: 4px;
    outline: none;
    background-color: #fbfcfd;
}
.ie-8 .input, .ie-8 .textarea {
    box-sizing: border-box;
    padding: 10px;
}
.input::-webkit-input-placeholder {
    color: #48cbe8;
}
.input::-moz-placeholder {
    color: #48cbe8;
}
.input:-ms-input-placeholder {
    color: #48cbe8;
}
.textarea::-webkit-input-placeholder {
    color: #48cbe8;
}
.textarea::-moz-placeholder {
    color: #48cbe8;
}
.textarea:-ms-input-placeholder {
    color: #48cbe8;
}
.textarea {
    overflow: auto;
    height: 111px;
    padding-top: 10px;
    resize: none;
}
.button {
    font-family: 'FiraSans-Light';
    font-size: 19px;
    display: inline-block;
    height: 31px;
    /*box-shadow: 0px 4px 0px #3ba8c0;*/
    margin-bottom: 4px;
    margin-bottom: 15px;
    padding: 0 28px;
    cursor: pointer;
    transition: all .1s linear;
    color: #fff;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: #48cbe8;
}
.button--shadow {
    box-shadow:inset 0 -2px 0 #3ba8c0;
}
.button--shadow:hover, .button--dark:hover {
    box-shadow: none;
}
.button--shadow:active {
    box-shadow: inset 0 2px 0 #3ba8c0;
}
.button--dark {
    background-color: #849db5;
    box-shadow: inset 0 -2px 0 #687b8f;
}
.button--dark:active {
    box-shadow: inset 0 2px 0 #687b8f;
}
.button.is-disabled {
    pointer-events: none;
    box-shadow: none;
    background: #849db5;
}
.container-submit {
    text-align: center;
}
.container-input {
    margin-bottom: 11px;
}
.form-info-in {
    position: relative;
    z-index: 1;
    margin-bottom: 12px;
    padding-top: 6px;
    padding-left: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
    display: none;
}
.form-info-in .form-info-close {
    position: absolute;
    z-index: 1;
    top: 3px;
    right: 3px;
}
.form-info-success {
    color: #49bb7b;
    border-color: #49bb7b;
    background-color: rgba(73, 187, 123, .33);
}
.ie-9 .form-info-success, .ie-8 .form-info-success {
    background-color: rgb(73, 187, 123);
}
.form-info-error {
    color: #f97e76;
    border-color: #f97e76;
    background-color: rgba(249, 126, 118, .33);
}
.ie-9 .form-info-error, .ie-8 .form-info-error {
    background-color: rgb(249, 126, 118);
}
.form-info-title {
    font-size: 25px;
    display: block;
    margin-bottom: 6px;
}
.form-info-text {
    font-size: 15px;
    display: block;
    margin-bottom: 6px;
}
.input-wrapper {
    position: relative;
    z-index: 1;
}
.captcha .input-wrapper {
    display: inline-block;
    vertical-align: middle;
}
.tooltip {
    font-size: 13px;
    position: absolute;
    z-index: -1;
    top: 50%;
    right: 100%;
    height: 26px;
    margin-top: -13px;
    margin-right: 20px;
    padding: 0 15px;
    white-space: nowrap;
    visibility: hidden;
    opacity: 0;
    color: #fff;
    border-radius: 2px;
    background-color: #f97e76;
}
.tooltip--right {
    right: auto;
    left: 100%;
    margin-left: 20px;
}
.is-error .tooltip {
    visibility: visible;
    -webkit-animation-name: bounceInRight;
            animation-name: bounceInRight;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    opacity: 1;

    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
}
.is-error .tooltip--right {
    -webkit-animation-name: bounceInLeft;
            animation-name: bounceInLeft;
}

@-webkit-keyframes bounceInRight {
    0%, 100%, 60%, 75%, 90% {
        transition-timing-function: cubic-bezier(.215, .61, .355, 1);
    }

    0% {
        -webkit-transform: translate3d(1500px, 0, 0);
                transform: translate3d(1500px, 0, 0);
        opacity: 0;
    }
    35% {
        opacity: 0;
    }

    60% {
        -webkit-transform: translate3d(-25px, 0, 0);
                transform: translate3d(-25px, 0, 0);
        opacity: 1;
    }

    75% {
        -webkit-transform: translate3d(10px, 0, 0);
                transform: translate3d(10px, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(-5px, 0, 0);
                transform: translate3d(-5px, 0, 0);
    }

    100% {
        -webkit-transform: none;
                transform: none;
    }
}
@keyframes bounceInRight {
    0%, 100%, 60%, 75%, 90% {
        transition-timing-function: cubic-bezier(.215, .61, .355, 1);
    }

    0% {
        -webkit-transform: translate3d(1500px, 0, 0);
                transform: translate3d(1500px, 0, 0);
        opacity: 0;
    }
    35% {
        opacity: 0;
    }

    60% {
        -webkit-transform: translate3d(-25px, 0, 0);
                transform: translate3d(-25px, 0, 0);
        opacity: 1;
    }

    75% {
        -webkit-transform: translate3d(10px, 0, 0);
                transform: translate3d(10px, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(-5px, 0, 0);
                transform: translate3d(-5px, 0, 0);
    }

    100% {
        -webkit-transform: none;
                transform: none;
    }
}
@-webkit-keyframes bounceInLeft {
    0%, 100%, 60%, 75%, 90% {
        transition-timing-function: cubic-bezier(.215, .61, .355, 1);
    }

    0% {
        -webkit-transform: translate3d(-1500px, 0, 0);
                transform: translate3d(-1500px, 0, 0);
        opacity: 0;
    }
    35% {
        opacity: 0;
    }

    60% {
        -webkit-transform: translate3d(25px, 0, 0);
                transform: translate3d(25px, 0, 0);
        opacity: 1;
    }

    75% {
        -webkit-transform: translate3d(-10px, 0, 0);
                transform: translate3d(-10px, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(5px, 0, 0);
                transform: translate3d(5px, 0, 0);
    }

    100% {
        -webkit-transform: none;
                transform: none;
    }
}
@keyframes bounceInLeft {
    0%, 100%, 60%, 75%, 90% {
        transition-timing-function: cubic-bezier(.215, .61, .355, 1);
    }

    0% {
        -webkit-transform: translate3d(-1500px, 0, 0);
                transform: translate3d(-1500px, 0, 0);
        opacity: 0;
    }
    35% {
        opacity: 0;
    }

    60% {
        -webkit-transform: translate3d(25px, 0, 0);
                transform: translate3d(25px, 0, 0);
        opacity: 1;
    }

    75% {
        -webkit-transform: translate3d(-10px, 0, 0);
                transform: translate3d(-10px, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(5px, 0, 0);
                transform: translate3d(5px, 0, 0);
    }

    100% {
        -webkit-transform: none;
                transform: none;
    }
}
.tooltip:before {
    display: inline-block;
    height: 100%;
    content: '';
    vertical-align: middle;
}
.tooltip:after {
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 100%;
    margin-top: -6px;
    content: '';
    border: 6px solid transparent;
    border-left-color: #f97e76;
}
.tooltip--right:after {
    right: 100%;
    left: auto;
    border-color: transparent;
    border-right-color: #f97e76;
}
.tooltip__span {
    display: inline-block;
    vertical-align: middle;
}
.form-info {
    padding-top: 4px;
}

/* @group input file */

.input-file {
    position: relative;
    z-index: 1;
}
.label__file {
    font-size: 0;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    width: 52px;
    cursor: pointer;
    text-align: center;
    border-radius: 0 4px 4px 0;
    background-color: #48cbe8;
}
.ie-8 .label__file {
    bottom: 1px;
}
.label__file:before {
    display: inline-block;
    height: 100%;
    content: '';
    vertical-align: middle;
}
.label__file .icon {
    transition: -webkit-transform .2s ease;
    transition:         transform .2s ease;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
}
.label__file:active .icon {
    -webkit-transform: scale(.9);
            transform: scale(.9);
}
#input__file {
    position: absolute;
    z-index: -5;
    top: -100%;
    left: 0;
    visibility: hidden;
    cursor: pointer;
    opacity: 0;
}
.ie-8 #input__file {
    visibility: visible;
}
.input__file-name {
    pointer-events: none;
}

/* @end */

/* @end */

/* @group feedback */

.feedback {
    min-height: 840px;
}
.feedback__title {
    font-size: 27px;
    height: 121px;
    margin-bottom: 48px;
    color: #fff;
    border-bottom: 17px solid #67dffa;
    border-radius: 4px 4px 0 0;
    background-color: #48cbe8;
}
.feedback__title:before {
    display: inline-block;
    height: 100%;
    content: '';
    vertical-align: middle;
}
.feedback__title-span {
    display: inline-block;
    margin-left: 59px;
    vertical-align: middle;
}
.feedback__form-container {
    width: 402px;
    margin: 0 auto;
}
.feedback__form-container .container-input {
    display: inline-block;
    vertical-align: top;
}
.feedback__form-container .input--name, .feedback__form-container .input--email, .feedback__form-container .input--captcha {
    width: 192px;
}
.feedback__form-container .textarea {
    width: 402px;
    height: 183px;
    margin-bottom: -4px;
}
.feedback__form-container .container-input--email {
    float: right;
}
.feedback__form-row {
    margin-bottom: 6px;
}
.feedback__form-row:after {
    display: block;
    clear: both;
    content: '';
}
.feedback__form-container .span-label {
    font-size: 19px;
    margin-bottom: 3px;
}
.captcha__img {
    float: left;
    box-sizing: border-box;
    width: 191px;
    height: 79px;
    text-align: center;
    border: 1px solid #48cbe8;
    border-radius: 4px;
    background-color: #fbfcfd;
    background: #fff;
}
.captcha__img:before {
    display: inline-block;
    height: 100%;
    content: '';
    vertical-align: middle;
}
.captcha {
    width: 402px;
    height: 79px;
    margin-bottom: 16px;
    text-align: right;
}
.captcha:before {
    display: inline-block;
    height: 100%;
    content: '';
    vertical-align: middle;
}
.captcha:after {
    display: block;
    clear: both;
    content: '';
}
.captcha__img img {
    display: inline-block;
    max-width: 95%;
    max-height: 95%;
    vertical-align: middle;
}
.input--captcha {
    display: inline-block;
    height: 32px;
    vertical-align: middle;
}
.ie-8 .input--captcha {
    box-sizing: border-box;
    padding: 6px 10px;
}
.feedback__form-container .button--dark {
    float: right;
}

/* @end */

/* @group admin */

.admin {
    font-size: 0;
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    overflow: scroll;
    width: 100%;
    padding-bottom: 80px;
    text-align: center;
}
.admin:before {
    display: inline-block;
    height: 100%;
    content: '';
    vertical-align: middle;
}
.admin__in {
    font-size: 14px;
    display: inline-block;
    width: 590px;
    vertical-align: middle;
    border-radius: 3px;
    background-color: #eff3f7;
    box-shadow: 0 4px 6.9px .1px rgba(13, 16, 7, .29);
}
.admin__form {
    width: 424px;
    margin: 0 auto;
}
.admin__title {
    height: 91px;
    margin-bottom: 26px;
    border-bottom: 15px solid #67dffa;
    border-radius: 3px 3px 0 0;
    background-color: #48cbe8;
}
.admin__title:before {
    display: inline-block;
    height: 100%;
    content: '';
    vertical-align: middle;
}
.admin__title-span {
    font-size: 40px;
    vertical-align: middle;
    color: #fff;
}
.admin__form .span-label {
    font-size: 36px;
    margin-bottom: 12px;
}
.admin__form .input {
    font-size: 15px;
    height: 62px;
    padding: 0 20px;
}
.ie-8 .admin__form .input {
    box-sizing: border-box;
    padding: 20px 20px;
}
.admin__form .container-input {
    margin-bottom: 21px;
}
.admin__form .container-input:last-of-type {
    margin-bottom: 34px;
}
.admin__form .button {
    font-size: 36px;
    width: 226px;
    height: 50px;
    margin-bottom: 27px;
}

/* @end */

/* @group media */

@media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (-webkit-min-device-pixel-ratio: 1.5),
    only screen and (-moz-min-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 3/2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min--moz-device-pixel-ratio: 1.5),
    only screen and (min-device-pixel-ratio: 1.5),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    .page {
        background: url(../../../images/design/bg-page-2x.png) repeat;
        background-size: 671px 669px;
    }
}

@media screen and (max-width: 960px) {
    .page {
       min-width: 768px;
    }
    .hidden-tablet {
        display: none;
    }
    .content {
        width: 701px;
    }
    .content__main {
        float: none;
        width: 100%;
        margin-bottom: 14px;
    }
    .header__in {
        width: 701px;
        padding: 0;
    }
    .visible-tablet {
        display: block;
    }
    .social__li {
        margin-left: 19px;
    }
    .header {
        margin-bottom: 33px;
    }
    .content__block-title-span {
        padding: 22px 23px 22px;
    }
    .info__text {
        width: 426px;
        padding-top: 25px;
        padding-bottom: 16px;
    }
    .info__text-li {
        margin-bottom: 18px;
    }
    .info__text-span b {
        font-size: 19px;
    }
    .info__text-span {
        font-size: 18px;
    }
    .info__text-span + .info__text-span {
        margin-left: 6px;
    }
    .content__block {
        margin-bottom: 28px;
    }
    .info__img {
        margin-left: 34px;
        margin-top: 13px;
    }
    .about__ul {
        padding-top: 6px;
        padding-bottom: 30px;
    }
    .about__li {
        margin-bottom: 32px;
    }
    .about__text-title {
        font-size: 18px;
    }
    .about__text-span {
        font-size: 19px;
        color: #4A545D;
    }
    .logo__a img {
        height: 50px;
        width: 216px;
    }
    .work__ul {
        display: inline-block
        /*width: 515px;*/
        /*margin-left: -54px;*/
    }
    .work__li {
        width: 230px;
        margin-left: 52px;
        margin-bottom: 36px;
    }
    .work__img {
        height: 162px;
        border-radius: 5px;
    }
    .work__add {
        margin-left: 54px;
    }
    .work__add-a {
        width: 230px;
        height: 162px;
    }
    .work__list {
        padding-left: 47px;
        padding-top: 6px;
    }
    .work__a {
        font-size: 17px;
        margin-bottom: 5px;
    }
    .work__p {
        font-size: 18px;
        line-height: 20px;
        height: 40px;
    }
    .work__add-span {
        font-size: 14px;
    }
    .popup__in {
        width: 430px;
    }
    .popup__title {     
        height: 52px;
        line-height: 53px;
        padding-left: 18px;
        margin-bottom: 9px;
    }
    .popup__in .close {     
        top: 13px;
        right: 8px;
    }
    .popup__form {
        width: 375px;
        margin: 0 auto;
    }
    .span-label {
        color: #58697A;
        font-size: 22px;
    }
    #add-project .input, #add-project .textarea {       
        height: 49px;
        font-size: 15px;
    }
    #add-project .textarea {
        height: 119px;
    }
    .popup .textarea {
        margin-bottom: 10px;
    }
    .button {       
        padding: 0 33px;
        height: 35px;
        margin-bottom: 20px;
    }
    .feedback__title {
        height: 111px;
        border-bottom-width: 22px;
        margin-bottom: 58px;
    }
    .feedback__form-container {       
        width: 455px;
    }
    .feedback__form-container .textarea {
        width: 455px;
    }
    .feedback__form-container .input {
        width: 210px;
        height: 35px;
    }
    .feedback__form-container .span-label {
        font-size: 22px;
    }
    .feedback__form-row {
        margin-bottom: 14px;
    }
    .feedback__form-container .textarea {
        height: 210px;
        margin-bottom: 25px;
    }
    .feedback__form-container .container-input--captcha .span-label {
        font-size: 18px;
        margin-bottom: 13px;
    }
    .captcha {
        width: 455px;
        height: 96px;
        margin-bottom: 30px;
    }
    .captcha__img {
        height: 96px;
        width: 225px;
    }
    .admin__in {        
        width: 510px;
    }
    .admin__form .tooltip {
        right: auto;
        top: auto;
        margin: 0;
        bottom: 100%;
        margin-bottom: 20px;
        font-size: 20px;
        padding: 0 8px;
        left: -16px;
        height: 35px;
    }
    .admin__form .tooltip:after {
        border-color: transparent;
        left: 50%;
        margin-left: -14px;
        top: 100%;
        margin-top: 0;
        border-width: 14px;
        border-top-color: #f97e76;
    }
    .admin__form .is-error .tooltip {
        opacity: 1;
        visibility: visible;
        transition: all 0.2s linear;
        -webkit-animation: none;
                animation: none;
    }

/* @group menu mobile */
    
    .menu__mobile {
        float: right;
        position: relative;
        z-index: 2;
        height: 100%;
        padding-right: 8px;
        margin-left: 53px;
    }
    .menu__mobile:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }
    .menu__mobile-a {
        vertical-align: middle;
        display: inline-block;
        height: 20px;
        width: 25px
        /*position: relative;*/
        /*z-index: 1;*/
    }
    .menu__mobile .menu__ul {
        position: absolute;
        z-index: 1;
        -webkit-transform: translateZ(0);
                transform: translateZ(0);
        top: 100%;
        margin-top: -29px;
        right: -32px;
        background: #fbfcfd;
        width: 238px;
        box-shadow: 1px 3px 9px 1px rgba(13, 16, 7, 0.35);
        border-radius: 3px;
        opacity: 0;
        visibility: hidden;
        transition: all 0.15s linear;
    }
    .menu__mobile.is-visible .menu__ul {
        opacity: 1;
        visibility: visible;
    }
    .menu__mobile .menu__li:first-child .menu__a {
        border-radius: 3px 3px 0 0;
    }
    .menu__mobile .menu__li:last-child .menu__a {
        border-radius: 0 0 3px 3px;
    }
    .menu__mobile .menu__a {
        padding-left: 20px;
    }
    .menu__mobile .menu__ul:before {
        content: '';
        position: absolute;
        z-index: 1;
        border: 15px solid transparent;
        bottom: 100%;
        margin-bottom: -1px;
        right: 37px;
        border-bottom-color: #fbfcfd;
    }
    .menu__mobile .menu__ul.is-first:before {
        border-bottom-color: #3ba8c0;
    }
    .navicon {
        position: relative;
        z-index: 1;
        height: 100%;
        width: 100%;
    }
    .navicon__li {
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -2px;
        /*width: 25px;*/
        width: 100%;
        height: 4px;
        background-color: #58697A;
        border-radius: 3px;
        /*margin-bottom: 3px;*/
        -webkit-animation-duration: 1s;
                animation-duration: 1s;
        -webkit-animation-fill-mode: both;
                animation-fill-mode: both;
        -webkit-transform-origin: 50% 50%;
                transform-origin: 50% 50%;
    }
    .navicon__li:first-child {
        top: 0;
        margin-top: 0;
    }
    .is-visible .navicon__li:first-child {
        -webkit-animation-name: animNaviconFirst;
                animation-name: animNaviconFirst;
    }
    .navicon__li:last-child {
        top: auto;
        bottom: 0;
        margin-top: 0;
    }
    .footer {
        height: 55px;
    }
    
    /* @end */

    /* @group contacts mobile */
    
    .contacts__mobile {
        display: block;
        margin-bottom: 34px;
    }
    .contacts__mobile .contacts__ul {
        width: 100%;
    }
    .contacts__mobile .contacts__ul:after {
        content: '';
        display: block;
        clear: both;
    }
    .contacts__mobile .contacts__li {
        float: left;
        width: 33.3333%;
        text-align: center;
    }
    .contacts__mobile .contacts__li .icon {
        margin-left: 0;
    }
    .contacts__mobile .contacts__li-container {
        display: inline-block;
    }
    
    /* @end */
}
@media screen and (max-width: 768px) {
    .page {
       min-width: 320px;
    }
    .content {
        width: 294px;
    }
    .header__in {
        width: 294px;
        padding: 0;
        position: static;
    }
    .header__in .social {
        display: none;
    }
    .logo__a img {
        height: 33px;
        width: 137px;
    }
    .header {
        height: 57px;
        margin-bottom: 14px;
    }
    .menu__mobile .menu__ul:before {
        display: none;
    }
    .menu__mobile .menu__ul {       
        margin-top: 0;
        right: 0;
        left: 0;
        width: 100%;
        border-radius: 0;
        text-align: center;
    }
    .menu__mobile {     
        position: static;
    }
    .menu__mobile .menu__a {
        padding: 10px 0;
        min-height: 41px;
        font-size: 24px;
        font-family: 'FiraSans-Regular';
        border-radius: 0 !important;
    }
    .menu__a:after {        
        left: 0;
        right: 0;
        background: #8196ac;
        height: 1px;
    }
    .content__block-title-span {
        border: none;
        font-size: 24px;
        line-height: 24px;
        padding: 0;
        display: block;
        text-align: center;
    }
    .info__img {        
        width: 132px;
        height: 132px;
        float: none;
        margin: 0 auto 30px;
    }
    .info__text-span {
        font-size: 15px;
        color: #37424d;
        font-size: 19px;
        font-family: 'FiraSans-Regular';
        margin: 0 0 4px 0 !important;
        display: block;
        text-align: center;
    }
    .info__text {
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .skills {
        display: block;     
        margin: 0 auto;
        width: 102px;
    }
    .skills__ul {
        margin: 0;
    }
    .skills__li-span {      
        padding: 0 8px;
        min-width: 39px;
        text-align: center;
        box-sizing: border-box;
    }
    .skills__li {       
        margin-left: 10px;
        margin-bottom: 10px;
    }
    .about__container-icon {        
        margin: 0 auto 12px;
        display: block;
    }
    .about__text {      
        margin: 0;
        display: block;
        text-align: center;
    }
    .about__text-title {
        font-size: 17px;
        line-height: 20px;
    }
    .about__text-span {
        font-size: 15px;
    }
    .contacts__mobile .contacts__li {       
        float: none;
        width: 100%;
    }
    .contacts__mobile .contacts__li-container {
        text-align: left;
        width: 175px;
        padding-left: 20px;
    }
    .contacts__mobile .contacts__a {
        margin-left: 14px;
    }
    .visible-phone {
        display: block;
    }
    .social.visible-phone {
        text-align: center;
        margin-bottom: 20px;
    }
    .social__a {
        border-radius: 50%;
        background: #fff;
    }
    .content__block-title {
        padding-top: 13px;
        margin-bottom: 23px;
    }
    .info__text-li {
        margin-bottom: 32px;
    }
    .info__text-li:last-child {
        margin-bottom: 5px;
    }
    .content__block {
        margin-bottom: 15px;
    }
    .about__li:last-child {
        margin-bottom: 0;
    }
    .about__ul {
        padding-bottom: 12px;
    }
    .contacts__mobile {
        margin-bottom: 20px;
    }
    .copyright__span {
        font-size: 11px;
        display: inline-block;
        width: 210px;
        line-height: 13px;
    }
    .footer {
        height: 36px;
    }
    .contacts__a {
        font-size: 16px;
    }
    .work__li {
        margin: 0;
        float: none;
        width: 211px;
        margin-bottom: 20px;
    }
    .work__list {
        padding: 0;
        margin: 0;
    }
    .work__a {
        font-size: 15px;
    }
    .work__p {
        font-size: 17px;
    }
    .work__add {
        margin: 0;
        display: inline-block;
        float: none;
        margin-bottom: 66px;
    }
    .work__add-a {
        width: 210px;
        height: 147px;
    }
    .work__add-span {
        font-size: 13px;
    }
    .popup__in {
        width: 310px;
    }
    .popup__form {
        width: 291px;
    }
    .popup__title {
        font-size: 24px;
        height: 44px;
        padding: 0;
        text-align: center;
        margin-bottom: 7px;
    }
    .popup__in .close {     
        top: 4px;
        right: 3px;
    }
    #add-project .span-label {
        font-size: 18px;
        margin-left: 7px;
    }
    #add-project .input, #add-project .textarea {
        height: 41px;
        font-size: 12px;
    }
    #add-project .textarea {
        height: 111px;
        margin-bottom: 0;
        padding-top: 5px;
    }
    #add-project .container-input {
        margin-bottom: 10px;
    }
    #add-project .button {
        margin-bottom: 10px;
    }
    .tooltip {
        top: auto;
        margin: 0;
        right: 19px;
        bottom: 100%;
        margin-bottom: 10px;
        padding: 0;
        width: 95px;
        font-size: 9px;
        text-align: center;
        font-family: 'FiraSans-Regular';
        height: 19px;
        transition: all 0.3s linear;
    }
    .admin__form .tooltip {
        left: -20px;
        margin-bottom: 10px;
        font-size: 9px;
        padding: 0;
        width: 95px;
        height: 19px;
    }
     .is-error .tooltip {
        -webkit-animation: none;
                animation: none;
     }
     .tooltip--right {         
         right: 19px;
         left: auto;
     }
     .tooltip--right:after {
     	right: auto;
     }
    .tooltip:after {
        top: 100%;
        left: 50%;
        margin-left: -6px;
        margin-top: 0;
        border-color: transparent;
        border-top-color: #f97e76;
    }
    .admin__form .tooltip:after {
        border-width: 6px;
        margin-left: -6px;
    }
    .feedback__title-span {
        margin: 0;
        text-align: center;
        font-size: 19px;
    }
    .feedback__title {
        height: 100px;
        border-bottom-width: 16px;
        margin-bottom: 13px;
    }
    .feedback__form-container {       
        width: 261px;
    }
    .feedback__form-container .input--name, .feedback__form-container .input--email {
		width: 261px;
    }
    .feedback__form-container .input--captcha {
    	width: 113px;
    	height: 28px;
    }
    .feedback__form-container .textarea {
    	width: 261px;
    	height: 99px;
    	margin-bottom: 2px;
    	padding-top: 4px;
    }
    .feedback__form-container .span-label {
    	font-size: 18px;
    	margin-bottom: 6px;
    }
    .container-input--captcha .span-label {
    	font-size: 15px !important;
    	font-family: 'FiraSans-Light';
    	margin-bottom: 5px !important;
    }
    .feedback__form-container .container-input {
        margin-bottom: 29px;
    }
    .feedback__form-row {
        margin-bottom: 1px;
    }
    .captcha__img {
        width: 128px;
        height: 73px;
    }
    .captcha {
        width: 261px;
        height: 73px;
        margin-bottom: 0;
    }
    .feedback__form-container .button {
    	font-size: 16px;
    	width: 105px;
    	padding: 0;
    }
    .feedback {
        min-height: 669px;
    }
    .admin__in {        
        width: 298px;
    }
    .admin__form {
        width: 250px;
    }
    .admin__title-span {
        font-size: 24px;
    }
    .admin__title {
    	height: 54px;
    	border-width: 10px;
    	margin-bottom: 14px;
    }
    .admin__form .span-label {
        font-size: 21px;
        margin-bottom: 4px;
    }
    .admin__form .input {
        height: 37px;
    }
    .admin__form .container-input {
        margin-bottom: 14px;
    }
    .admin__form .button {
        width: 133px;
        height: 30px;
        font-size: 21px;
        margin-bottom: 20px;
    }
    .admin__form .container-input:last-of-type {
        margin-bottom: 18px;
    }
}

/* @end */
